body{
    background: rgb(196, 192, 192);
    margin-left: 100px;
    margin-right: 100px;
}
header{
    margin-top: 70px;
}
h1{
    color: rgb(35, 15, 122);
    font-family: fantasy;
}
h2{
    font-family: fantasy;
}
p{
    font-size: 18px;
}
footer{
    margin-bottom: 30px;
}
.img_padrao{
    margin-bottom: 20px;
    width: 300px;
}
.logo{
    width: 30px;
}